<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=DESKTOP-43K9MG9;Initial Catalog=QLBD;Integrated Security=True"/>
  </appSettings>
</configuration>